div{
    border-style: solid;
    border-width: 0px;
    border-color: #bdbdbd;
    padding: 20px;
}

a{
    font-family: 'Carme', sans-serif;
    color: blue;
}

h1{
    color: white;
    font-size:125px;
    font-family: 'Carme', sans-serif;
    padding-top: 25px;
}

h2{
    font-size:25px;
    color: white;
    font-family: 'Carme', sans-serif; 
}

h3{
    color: black;
    font-size: 30px;
    padding-top: 5px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 0px;
    font-family: 'Carme', sans-serif;
}

h4{
    color: black;
    font-size: 15px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

.jumbotron{
    background: url("http://francois-roux-photography.com/images/photographs/new-york-central-park/san-remo-lake-autumn-central-park-new-york.jpg");
    background-size: 1500px;
    background-repeat: no-repeat;
    text-decoration-color: white;
}

h6{
    font-size: 50px;
    padding-left: 20px;
    font-family: 'Carme', sans-serif;
    border-style: groove;
    border-width: 1px;
    border-color: gray;
    padding-top: 10px;
    padding-bottom: 10px;
}

body{
    background-color: #e0e0e0;
}

article{
    font-size: 22.5px;
}

p{
    font-family: 'Carme', sans-serif;
}

.btn-group{
    padding: 7px;
}